alembic==1.8.1
amqp==5.1.1
anyio==3.6.1
apache-airflow==2.1.1
apache-airflow-providers-common-sql==1.2.0
apache-airflow-providers-ftp==3.1.0
apache-airflow-providers-imap==3.0.0
apache-airflow-providers-postgres==2.4.0
apache-airflow-providers-sqlite==3.2.1
apispec==3.3.2
APScheduler==3.9.1
arabic-reshaper==2.1.3
argcomplete==1.12.3
asgiref==3.5.0
attrs==20.3.0
Babel==2.9.1
billiard==3.6.4.0
bleach==4.1.0
blinker==1.5
boto3==1.24.89
botocore==1.27.89
cachelib==0.9.0
cattrs==1.5.0
celery==5.2.7
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clickclick==20.10.2
cloudinary==1.29.0
colorama==0.4.5
colorlog==6.7.0
commonmark==0.9.1
croniter==1.0.15
cryptography==36.0.2
cssselect2==0.5.0
defusedxml==0.7.1
dill==0.3.5.1
dj-database-url==0.5.0
Django==4.0.3
django-allauth==0.50.0
django-apscheduler==0.6.2
django-bootstrap-datepicker-plus==4.0.0
django-cloudinary-storage==0.3.0
django-crispy-forms==1.14.0
django-daraja==1.2.0
django-extensions==3.1.5
django-filter==21.1
django-heroku==0.3.1
django-multiselectfield==0.1.12
django-phonenumber-field==6.1.0
django-pwa==1.0.10
django-queryset-csv==1.1.0
django-slick-reporting==0.6.3
django-summernote==0.8.20.0
django-user-visit==0.5.1
djangorestframework==3.13.1
dnspython==2.2.1
docutils==0.16
email-validator==1.3.0
Flask==1.1.4
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
fsspec==0.8.7
future==0.18.2
graphviz==0.20.1
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
httpcore==0.15.0
httpx==0.23.0
idna==3.3
importlib-metadata==5.0.0
importlib-resources==1.5.0
inflection==0.5.1
iso8601==1.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==1.0.1
jsonschema==3.2.0
kombu==5.2.4
lazy-object-proxy==1.7.1
lockfile==0.12.2
lxml==4.8.0
Mako==1.2.3
Markdown==3.4.1
MarkupSafe==1.1.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
networkx==2.8.7
numpy==1.23.4
oauthlib==3.2.0
openapi-schema-validator==0.2.3
openapi-spec-validator==0.4.0
packaging==21.3
pandas==1.5.0
pendulum==2.1.2
phonenumbers==8.12.45
phonenumberslite==8.12.45
Pillow==9.0.1
prison==0.2.1
prompt-toolkit==3.0.31
psutil==5.9.2
psycopg2==2.9.3
psycopg2-binary==2.9.4
pycparser==2.21
Pygments==2.13.0
PyJWT==1.7.1
pyparsing==3.0.7
PyPDF3==1.0.6
pyrsistent==0.18.1
python-bidi==0.4.2
python-daemon==2.3.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.20.0
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
PyYAML==6.0
ratelimit==2.2.1
reportlab==3.6.9
requests==2.27.1
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==12.6.0
s3transfer==0.6.0
setproctitle==1.3.2
simplejson==3.17.6
six==1.16.0
sniffio==1.3.0
SQLAlchemy==1.3.24
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.3
sqlparse==0.4.2
stripe==2.69.0
svglib==1.2.1
swagger-ui-bundle==0.0.9
tabulate==0.8.10
tenacity==6.2.0
termcolor==2.0.1
text-unidecode==1.3
tinycss2==1.1.1
tqdm==4.63.1
tzdata==2022.1
tzlocal==4.1
ua-parser==0.10.0
unicodecsv==0.14.1
urllib3==1.26.9
user-agents==2.2.0
viewflow==0.1.0
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==6.0.0
WTForms==2.3.3
xhtml2pdf==0.2.6
zipp==3.9.0
